/* MULTIPLE ----------------------------------------------------------- */

body {
    margin: 5px;
}

.footer_log_btn:hover,
.header_log_btn:hover {
    background-color: rgb(41, 127, 255);
}

/* HEADER ------------------------------------------------------------*/

.header_main {
    background-color: red;
    width: 100%;
    min-height: 60px;
    display: flex;
    float: left;
}

.header_title {
    background-color: rgb(255, 98, 71);
    width: 80%;
    margin: 10px;
    font-size: 50px;
    text-decoration: none;
    color: black;
    padding: 10px;
    align-content: center;
}

.header_log_block {
    background-color: rgb(255, 98, 71);
    width: 200px;
    margin: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.header_log_btn {
    background-color: blue;
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    border: black solid 2px;
    margin: 5px;
    text-decoration: none;
    color: black;
}

.header_log_btn:active {
    border: white solid 2px;
    background-color: aqua;
}

.header_forms_home {
    background-color: rgb(255, 98, 71);
    text-decoration: none;
    color: black;
    margin: 10px;
    width: 200px;
    text-align: center;
    align-content: center;
}

.header_forms_home:hover {
    background-color: pink;
}

/* navbar */

.navbar_main {
    background-color: brown;
    width: 100%;
    height: 40px;
    display: flex;
    float: left;
}

.navbar_elem {
    padding: 5px 20px 5px 20px;
    background-color: pink;
    font-size: 20px;
}

.navbar_elem:hover {
    background-color: white;
}

/* header: responsive */
@media (max-width: 600px) {
    .header_log_block {
        width: 130px;
    }

    .header_log_btn {
        padding: 3px;
        width: 80%;
        border-radius: 10px;
        margin: 5px;
        font-size: 10px;
    }
}

/* BODY ------------------------------------------------------------*/

.body_main {
    display: inline-block;
    margin: 10px 0 5px 0;
    overflow: auto;
    width: 100%;
}

.form_main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form_block {
    width: 60%;
    background-color: aqua;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 350px;
    gap: 10px;
}

.form_title {
    background-color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    width: 80%;
    height: 30px;
    align-self: center;
    align-content: center;
    margin-bottom: 10px;
}

.form_names {
    display: flex;
    float: left;
    justify-content: space-between;
}

.form_elem,
.form_names {
    width: 80%;
    min-width: 300px;
}

.form_elem>input,
.form_names_elem>input {
    height: 30px;
    width: 100%;
}

.form_names_elem {
    width: 48%;
}

.submit_btn {
    width: 30%;
    height: 30px;
}

/* FOOTER ------------------------------------------------------------*/

.footer_main {
    display: inline-block;
    background-color: purple;
    width: 100%;
    min-height: 200px;
}

.footer_grid {
    display: flex;
    float: left;
    width: 100%;
}

.footer_grid_cell {
    background-color: rgb(238, 83, 199);
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.footer_log_block {
    background-color: rgb(238, 83, 199);
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 200px;
    min-width: 200px;
}

.footer_log_btn {
    background-color: blue;
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    border: black solid 2px;
    margin: 5px;
    text-decoration: none;
    color: black;
}

.footer_log_btn:active {
    border: white solid 2px;
    background-color: aqua;
}

@media (max-width: 600px) {
    .footer_main {
        display: flex;
        justify-content: center;
    }

    .footer_grid {
        margin: 0;
        display: inline-block;
        width: 95%;
    }

    .footer_grid_cell,
    .footer_log_block {
        width: 90%;
    }
}